Servers out of compliance with RFC 5246 reported as in compliance.

Servers without the TLS_RSA_WITH_AES_128_CBC_SHA cipher suite are not reported as being out of compliance with RFC5246.

> **9.  Mandatory Cipher Suites**
>
>    In the absence of an application profile standard specifying
>    otherwise, a TLS-compliant application MUST implement the cipher
>    suite TLS_RSA_WITH_AES_128_CBC_SHA (see Appendix A.5 for the
>    definition).

this issue is nearly identical to #668, just for TLS 1.2 instead of 1.3.

TLS 1.0 (mandatory TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA in RFC 2246) and 1.1 (mandatory TLS_RSA_WITH_3DES_EDE_CBC_SHA in RFC 4346) also have the same issue.

it doesn't make sense to warn about not supporting the mandatory cipher suite for one protocol version, but ignore it for others.

Hi @hotaru2k3 

We've removed the mandatory cipher supporting message for TLS 1.3

Regards,
Nauman Shah