Qualys SSL Labs scan is incorrectly capping TLS 1.3 servers to an A rating due to testing an obsolete functionality.

Previously our TLS server supported only TLS 1.2 and had an A+ rating on Qualys SSL Labs scans. After enabling TLS 1.3, in addition to TLS 1.2, the rating for the TLS server has been downgraded from A+ to A.

The reason for that is as shown below:

**Previously**, when only TLS 1.2 was enabled, the Qualys SSL Labs scan used to give the server an **A+** rating and add the following under the "Protocol details" section:

![image](https://github.com/ssllabs/ssllabs-scan/assets/55294511/a0ce2b2e-57a6-4b53-8189-f87fa14e2eb9)

**Now**, when both TLS 1.2 and TLS 1.3 are enabled, the Qualys SSL Labs scan gives the server an **A** rating and adds the following under the "Protocol details" section:
![image](https://github.com/ssllabs/ssllabs-scan/assets/55294511/07420938-a419-48ad-b6fd-56f277ef8fae)

More info: https://datatracker.ietf.org/doc/rfc7507/

Now, ironically, after enabling TLS 1.3 in addition to TLS 1.2, the server is capped to an A grade, instead of the previous rating of A+, despite enabling a stronger TLS protocol.

I'm writing this issue to inform you that testing TLS_FALLBACK_SCSV on TLS 1.3 is incorrect as **TLS 1.3 has deprecated support for TLS_FALLBACK_SCSV.** Qualys SSLLabs should account for this and fix the rating appropriately. Please see rationale below:

Section 1.1 of [RFC 8996](https://www.rfc-editor.org/rfc/rfc8996.html#name-rfcs-updated) says:

 

> The version-fallback Signaling Cipher Suite Value specified in [RFC7507] was defined to detect when a given client and server negotiate a lower version of (D)TLS than their highest shared version. TLS 1.3 ([RFC8446]) incorporates a different mechanism that achieves this purpose, via sentinel values in the ServerHello.Random field. With (D)TLS versions prior to 1.2 fully deprecated, the only way for (D)TLS implementations to negotiate a lower version than their highest shared version would be to negotiate (D)TLS 1.2 while supporting (D)TLS 1.3; supporting (D)TLS 1.3 implies support for the ServerHello.Random mechanism. **Accordingly, the functionality from [RFC7507] has been superseded, and this document marks it as Obsolete.**





@naumanshah03, please take a look when feasible.

Related: #930, #910, #863, #853, #815, #786, #711.